<%= render 'shared/navbar' %>
<br> <br> <br>

<div class="lists-container">
  <button type="button" class="btn-long list-button-flex" data-toggle="modal" data-target="#addListModal">
    <i class="fas fa-plus"></i>
    <h2>list</h2>
  </button>

  <% @lists.each do |list|%>
  <div class="list-item">
    <div>
      <h1>
        <i class="far fa-star"></i>
        <%= link_to list.name, list_path(list) %>
      </h1>
    </div>
      <div class="icon-group ">
          <%= link_to "", list_path(list), method: :delete, data: { confirm: "Are you quite sure?" }, class:"fas fa-trash" %>
          <a type="button" class="fas fa-pen" data-toggle="modal" data-target="#editListName<%= list.id %>">
          </a>
      </div>
  </div>

  <div id="editListName<%= list.id %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">edit list name</h5>
        </div>
        <div class="modal-body">
          <%= simple_form_for(list) do |f| %>
          <%= f.input :name, label: false %>
        </div>
        <div class="modal-footer">
          <%= f.submit "edit name", class: "btn btn-flat" %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="addListModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">name your list</h5>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, label: false %>
      </div>
      <div class="modal-footer">
        <%= f.submit "add list", class: "btn btn-flat" %>
      </div>
      <% end %>
    </div>
  </div>
</div>





