<%= render 'shared/navbar' %>
<br> <br> <br>

<div class="lists-container">
  <button type="button" class="btn-long list-button-flex" data-toggle="modal" data-target="#addListModal">
    <i class="fas fa-plus"></i> list
  </button>
  <% @lists.each do |list|%>
  <div class="list-item">
    <div>
      <h1>
        <i class="far fa-star"></i>
        <%= link_to list.name, list_path(list) %>
      </h1>
    </div>
      <div class="icon-group">
        <%= link_to "", list_path(list), method: :delete, data: { confirm: "Are you quite sure?" }, class:"fas fa-trash" %>
        <%= link_to "", list_path(list), class:"fas fa-pen" %>
      </div>
  </div>
 <% end %>
</div>

<div id="addListModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">name your list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@list) do |f| %>
        <%= f.input :name %>
      </div>
      <div class="modal-footer">
        <%= f.submit "add list", class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>



