<%= render 'shared/navbar' %>
<br><br><br>
<div class="shopping-container">
  <% @categories.each do |category| %>
    <h2 class="shopping-category" style="background-color:<%= category.category_color %>;"><%= category.category_name %></h2>
    <div class="item-shopping">
      <% category.items.each do |item| %>

        <div class="category-item-container" 
             id="item-id-<%= item.id %>" data-id="<%= item.id %>" 
             data-color="<%= category.category_icon %>"
             data-selected="<%= item.item_selected %>"
             style="background-color: <%= category.category_icon %>">

          <div class="item-list">
            <i id="circle-<%= item.id %>" class="far fa-circle"></i>
            <%= item.item_name %>
          </div> 
        </div>

      <% end %>
    </div>
  <% end  %>

  <div class="button-container">
    <%= link_to "edit list", list_path(@list), class:"btn-long-half" %>
    <%= link_to "done", lists_path(@lists), class:"btn-long-half ml-2"  %>
  </div>
</div>
