<%= render 'shared/navbar' %>
<div class="shopping-container">
  <h1>
      <%= @list.name %>
  </h1>
  <% @categories.each do |category| %>
    <h2 class="shopping-category" style="background-color:<%= category.category_color %>;"><%= category.category_name %></h2>
    <div class="item-shopping">
      <% category.items.each do |item| %>
        <% if item.item_selected %>
          <div class="category-item-container-selected" id="item-id-<%= item.id %>" data-id="<%= item.id %>" style="background-color: #f3f3f3">
            <div class="item-list">
              <i class="far fa-check-circle"></i>
              <%= item.item_name %>
            </div>
          </div>    
        <% else %>
          <div class="category-item-container" id="item-id-<%= item.id %>" data-id="<%= item.id %>" style="background-color: <%= category.category_icon %>">
            <div class="item-list">
              <i class="far fa-circle"></i>
              <%= item.item_name %>
            </div>
          </div>     
        <% end %>
      <% end %>
    </div>
  <% end  %>

  <div class="button-container">
    <%= link_to "edit list", list_path(@list), class:"btn-long-half" %>
    <%= link_to "done", lists_path(@lists), class:"btn-long-half ml-2"  %>
  </div>
</div>
