<%= render 'shared/navbar' %>
<div class="shopping-container">
<h1>
    <%= @list.name %>
</h1>
<% @categories.each do |category| %>
    <li>
        category: <%= category.category_name %>
    </li>
    <div>
        <% category.items.each do |item| %>
            <li>
                item: <%= item.item_name %>
            </li>
            <button type="button">select this item</button>
            <% if item.item_selected %>
                <p>SELECTED!!!</p>
            <% else %>
                <p>NOT SELECTED!!!</p>
            <% end %>
        <% end %>
    </div>
<% end  %>

<%= link_to "edit list", list_path(@list), class:"btn-long-half" %>
</div>
