<%= render 'shared/navbar' %>
<br><br><br>
<div class="category-container">
  <button type="button" class="btn-long list-button-flex " data-toggle="modal" data-target="#addCategoryModal">
    <i class="fas fa-plus"></i>
    <h2>category</h2>
  </button>

  <% @list.categories.each do |category| %>
  <div class="category-item">
    <div>
      <h3> <%= category.category_name %> </h3>
    </div>
    <div class="icon-group-cat">
      <%= link_to "", category_path(category), method: :delete, data: { confirm: "Are you quite sure?" }, class:"fas fa-trash" %>
      <a type="button" class="fas fa-pen" data-toggle="modal" data-target="#editCategoryModal<%= category.id %>"></a>
    </div>
  </div>

  <div id="editCategoryModal<%= category.id  %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-category">
        <div class="modal-body modal-body-category">
          <%= render 'shared/categoryselect' %>
        </div>
      </div>
    </div>
  </div>

   <% category.items.each do |item| %>
    <div class="item-input">
      <i class="far fa-circle"></i>
      <%= item.item_name %>
      <div class="icon-group-item">
        <%= link_to "", item_path(item), method: :delete, class:"fas fa-trash" %>
        <a id="edit-item" class="fas fa-pen"></a>
      </div>

      <div class="edit-form hidden">
      <%= simple_form_for(item) do |f| %>
        <%= f.input :item_name, label: false %>
        <%= f.submit "edit item", class:"hide-edit" %>
      <% end %>
      </div>
    </div>
      <% end %>
     <div id="addItem-<%= item.id %>" data-id="<%= item.id %>" class="item-add">
        <p>
        <i class="fas fa-plus"> </i>
        add another item
        </p>
      </div>
      <div class="input-box hidden">
        <%= simple_form_for([@list, category, @item]) do |f| %>
        <%= f.input :item_name, label: false, placeholder: "item name" %>
        <%= f.submit "add item", class:"hide-stuff" %>
      <% end %>
      </div>

<% end %>

  <div>
    <%= link_to "go shopping", list_shopping_path(@list), class: 'btn btn-long-shop'%>
  </div>

</div>

<div id="addCategoryModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-category">
      <div class="modal-body modal-body-category">
        <%= render 'shared/categoryselect' %>
      </div>
    </div>
  </div>
</div>


