<h1>
    <%= @list.name %>
</h1>

<%= simple_form_for([@list, @category]) do |f| %>
    <%= f.input :category_name %>
    <%= f.submit "add category" %>
<% end %>

<% @list.categories.each do |category| %>
    <h3>
        Category: <%= category.category_name %>
        <%= link_to "delete category", category_path(category), method: :delete, data: { confirm: "Are you quite sure?" } %>

        <%= simple_form_for(category) do |f| %>
          <%= f.input :category_name %>
          <%= f.submit "edit category" %>
        <% end %>

        <% category.items.each do |item| %>
            <p>
                Item: <%= item.item_name %>
                <%= link_to "delete item", item_path(item), method: :delete %>
                <%= simple_form_for(item) do |f| %>
                  <%= f.input :item_name %>
                  <%= f.submit "edit item" %>
                <% end %>
            </p>
        <% end %>
        <%= simple_form_for([@list, category, @item]) do |f| %>
            <%= f.input :item_name %>
            <%= f.submit "add item" %>
        <% end %>
    </h3>
<% end %>

