<%= render 'shared/navbar' %>
<br><br><br>
<div class="category-container">
  <button type="button" id="modalBtn" class="btn-long list-button-flex ">
    <i class="fas fa-plus"></i>
    <h2>category</h2>
  </button>

  <% @list.categories.each do |category| %>
  <div class="category-item">
    <div class="category-title">
      <h3> <%= category.category_name %> </h3>
    </div>
    <div class="icon-group-cat">
      <%= link_to "", category_path(category), method: :delete, data: { confirm: "Are you quite sure?" }, class:"fas fa-trash" %>
      <a type="button" class="fas fa-pen" data-toggle="modal" data-target="#editCategoryModal<%= category.id %>"></a>
    </div>
  </div>

  <div id="editCategoryModal<%= category.id  %>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-category">
        <div class="modal-body modal-body-category">
          <%= render 'shared/categoryselect' %>
        </div>
      </div>
    </div>
  </div>

   <% category.items.each do |item| %>
    <div class="item-input">
      <div id="item-wrapper-<%= item.id %>">
          <div class="item-stuff">
            <i class="far fa-circle"></i>
            <%= item.item_name %>
            <div data-id="<%= item.id %>" class="icon-group-item">
            <%= link_to "", item_path(item), method: :delete, class:"fas fa-trash" %>
            <a id="edit-item-<%= item.id %>" class="fas fa-pen"></a>
          </div>
        </div>
      </div>


      <div id="edit-form-<%= item.id %>" class="hidden">
        <div class="flexbox-class">
          <%= simple_form_for(item) do |f| %>
           <%= f.input :item_name, label: false %>
           <%= f.submit "edit item", class:"hide-edit" %>
          <% end %>
        </div>
      </div>
    </div>
      <% end %>
     <div id="addItem-<%= category.id %>" data-id="<%= category.id %>" class="item-add">
        <p>
        <i class="fas fa-plus"> </i>
        add another item
        </p>
        </div>
      <div class="input-box hidden">
        <div class="add-form">
          <%= simple_form_for([@list, category, @item]) do |f| %>
            <%= f.input :item_name, label: false, placeholder: "item name" %>
            <%= f.submit "add item", id:"submit-item-#{category.id}", class:"add-item-form" %>
          <% end %>
        </div>

      </div>

<% end %>

  <div>
    <%= link_to "go shopping", list_shopping_path(@list), class: 'btn btn-long-shop'%>
  </div>
</div>

<div id="categoryModal" class="classCategoryModal">
  <div class="category-modal-content">
    <%= render 'shared/categoryselect' %>
  </div>
</div>
