<%= render 'shared/navbar' %>
<div class="category-list">
  <button type="button" class="btn-long list-button-flex " data-toggle="modal" data-target="#addListModal">
    <i class="fas fa-plus"></i>
    <h2>category</h2>
  </button>

  <% @list.categories.each do |category| %>
  <div class="category-item">
    <div>
      <h3> <%= category.category_name %> </h3>
    </div>
    <div class="icon-group-cat">
      <%= link_to "", category_path(category), method: :delete, data: { confirm: "Are you quite sure?" }, class:"fas fa-trash" %>
      <a type="button" class="fas fa-pen"></a>
    </div>
  </div>
        <%= simple_form_for(category) do |f| %>
          <%= f.input :category_name %>
          <%= f.submit "edit category" %>
        <% end %>

        <% category.items.each do |item| %>
            <p>
                Item: <%= item.item_name %>
                <%= link_to "delete item", item_path(item), method: :delete %>
                <%= simple_form_for(item) do |f| %>
                  <%= f.input :item_name %>
                  <%= f.submit "edit item" %>
                <% end %>
            </p>
        <% end %>
        <%= simple_form_for([@list, category, @item]) do |f| %>
            <%= f.input :item_name %>
            <%= f.submit "add item" %>
        <% end %>
    </h3>
<% end %>

  <div>
    <%= link_to "go shopping", list_shopping_path(@list), class: 'btn btn-long-shop'%>
  </div>

</div>

<button type="button" data-toggle="modal" data-target="#addCategoryModal">BUTTON HERE!!!</button>

<div id="addCategoryModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-category">
      <div class="modal-body modal-body-category">
        <%= render 'shared/categoryselect' %>
      </div>
    </div>
  </div>
</div>

